### Imports

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import random
import itertools
import pandas as pd
from tqdm import tqdm

### Functions

#### Main

In [2]:
def check_next_to(a, b, sequence):
  
    '''checks if two elements are next to each other'''
    
    if a not in sequence or b not in sequence:
        return False
    
    i = sequence.index(a)
    
    if i == 0:
        if sequence[i+1] == b:
            return True
    elif i == len(sequence) - 1:
        if sequence[i-1] == b:
            return True
    else:
        if sequence[i+1] == b or sequence[i-1] == b:
            return True
    
    return False

In [3]:
def rule_checker_4(sequence):
    
    '''checks sequence is possible for the 2x2 case'''
    
    checks = [
        check_next_to(1, 4, sequence),
        check_next_to(2, 3, sequence)
    ]
    
    if True in checks:
        return False

    return True

In [4]:
def rule_checker_9(sequence):
    
    '''checks sequence is possible for the 3x3 case'''

    checks = [
        check_next_to(1, 3, sequence),
        check_next_to(1, 5, sequence),
        check_next_to(1, 6, sequence),
        check_next_to(1, 7, sequence),
        check_next_to(1, 8, sequence),
        check_next_to(1, 9, sequence),
        check_next_to(2, 4, sequence),
        check_next_to(2, 6, sequence),
        check_next_to(2, 7, sequence),
        check_next_to(2, 8, sequence),
        check_next_to(2, 9, sequence),
        check_next_to(3, 4, sequence),
        check_next_to(3, 5, sequence),
        check_next_to(3, 7, sequence),
        check_next_to(3, 8, sequence),
        check_next_to(3, 9, sequence),
        check_next_to(4, 6, sequence),
        check_next_to(4, 8, sequence),
        check_next_to(4, 9, sequence),
        check_next_to(5, 7, sequence),
        check_next_to(5, 9, sequence),
        check_next_to(6, 7, sequence),
        check_next_to(6, 8, sequence),
        check_next_to(7, 9, sequence)
    ]
    
    if True in checks:
        return False

    return True

#### Extension Functions

In [5]:
def rule_checker_9_diag(sequence):
    
    '''checks sequence is possible for the 3x3 case with diagonals allowed'''

    checks = [
        check_next_to(1, 3, sequence),
        check_next_to(1, 6, sequence),
        check_next_to(1, 7, sequence),
        check_next_to(1, 8, sequence),
        check_next_to(1, 9, sequence),
        check_next_to(2, 7, sequence),
        check_next_to(2, 8, sequence),
        check_next_to(2, 9, sequence),
        check_next_to(3, 4, sequence),
        check_next_to(3, 7, sequence),
        check_next_to(3, 8, sequence),
        check_next_to(3, 9, sequence),
        check_next_to(4, 6, sequence),
        check_next_to(4, 9, sequence),
        check_next_to(6, 7, sequence),
        check_next_to(7, 9, sequence)
    ]
    
    if True in checks:
        return False

    return True

In [6]:
def rule_checker_9_leap(sequence):
    
    '''checks sequence is possible for the 3x3 case with leaps allowed'''

    checks = [
        check_next_to(1, 5, sequence),
        check_next_to(1, 6, sequence),
        check_next_to(1, 8, sequence),
        check_next_to(1, 9, sequence),
        check_next_to(2, 4, sequence),
        check_next_to(2, 6, sequence),
        check_next_to(2, 7, sequence),
        check_next_to(2, 9, sequence),
        check_next_to(3, 4, sequence),
        check_next_to(3, 5, sequence),
        check_next_to(3, 7, sequence),
        check_next_to(3, 8, sequence),
        check_next_to(4, 8, sequence),
        check_next_to(4, 9, sequence),
        check_next_to(5, 7, sequence),
        check_next_to(5, 9, sequence),
        check_next_to(6, 7, sequence),
        check_next_to(6, 8, sequence),
    ]
    
    if True in checks:
        return False

    return True

In [7]:
def rule_checker_9_knight(sequence):
    
    '''checks sequence is possible for the 3x3 case with knight movements allowed'''

    checks = [
        check_next_to(1, 3, sequence),
        check_next_to(1, 5, sequence),
        check_next_to(1, 7, sequence),
        check_next_to(1, 9, sequence),
        check_next_to(2, 4, sequence),
        check_next_to(2, 6, sequence),
        check_next_to(2, 8, sequence),
        check_next_to(3, 5, sequence),
        check_next_to(3, 7, sequence),
        check_next_to(3, 9, sequence),
        check_next_to(4, 6, sequence),
        check_next_to(4, 8, sequence),
        check_next_to(5, 7, sequence),
        check_next_to(5, 9, sequence),
        check_next_to(6, 8, sequence),
        check_next_to(7, 9, sequence),
    ]
    
    if True in checks:
        return False

    return True

##### 4x4

In [8]:
def rule_checker_16(sequence):
    
    '''checks sequence is possible for the 4x4 case'''
    
    checks = [
        check_next_to(1, 3, sequence),
        check_next_to(1, 4, sequence),
        check_next_to(1, 6, sequence),
        check_next_to(1, 7, sequence),
        check_next_to(1, 8, sequence),
        check_next_to(1, 9, sequence),
        check_next_to(1, 10, sequence),
        check_next_to(1, 11, sequence),
        check_next_to(1, 12, sequence),
        check_next_to(1, 13, sequence),
        check_next_to(1, 14, sequence),
        check_next_to(1, 15, sequence),
        check_next_to(1, 16, sequence),
        check_next_to(2, 4, sequence),
        check_next_to(2, 5, sequence),
        check_next_to(2, 7, sequence),
        check_next_to(2, 8, sequence),
        check_next_to(2, 9, sequence),
        check_next_to(2, 10, sequence),
        check_next_to(2, 11, sequence),
        check_next_to(2, 12, sequence),
        check_next_to(2, 13, sequence),
        check_next_to(2, 14, sequence),
        check_next_to(2, 15, sequence),
        check_next_to(2, 16, sequence),
        check_next_to(3, 5, sequence),
        check_next_to(3, 6, sequence),
        check_next_to(3, 8, sequence),
        check_next_to(3, 9, sequence),
        check_next_to(3, 10, sequence),
        check_next_to(3, 11, sequence),
        check_next_to(3, 12, sequence),
        check_next_to(3, 13, sequence),
        check_next_to(3, 14, sequence),
        check_next_to(3, 15, sequence),
        check_next_to(3, 16, sequence),
        check_next_to(4, 5, sequence),
        check_next_to(4, 6, sequence),
        check_next_to(4, 7, sequence),
        check_next_to(4, 9, sequence),
        check_next_to(4, 10, sequence),
        check_next_to(4, 11, sequence),
        check_next_to(4, 12, sequence),
        check_next_to(4, 13, sequence),
        check_next_to(4, 14, sequence),
        check_next_to(4, 15, sequence),
        check_next_to(4, 16, sequence),
        check_next_to(5, 7, sequence),
        check_next_to(5, 8, sequence),
        check_next_to(5, 10, sequence),
        check_next_to(5, 11, sequence),
        check_next_to(5, 12, sequence),
        check_next_to(5, 13, sequence),
        check_next_to(5, 14, sequence),
        check_next_to(5, 15, sequence),
        check_next_to(5, 16, sequence),
        check_next_to(6, 8, sequence),
        check_next_to(6, 9, sequence),
        check_next_to(6, 11, sequence),
        check_next_to(6, 12, sequence),
        check_next_to(6, 13, sequence),
        check_next_to(6, 14, sequence),
        check_next_to(6, 15, sequence),
        check_next_to(6, 16, sequence),
        check_next_to(7, 9, sequence),
        check_next_to(7, 10, sequence),
        check_next_to(7, 12, sequence),
        check_next_to(7, 13, sequence),
        check_next_to(7, 14, sequence),
        check_next_to(7, 15, sequence),
        check_next_to(7, 16, sequence),
        check_next_to(8, 9, sequence),
        check_next_to(8, 10, sequence),
        check_next_to(8, 11, sequence),
        check_next_to(8, 13, sequence),
        check_next_to(8, 14, sequence),
        check_next_to(8, 15, sequence),
        check_next_to(8, 16, sequence),
        check_next_to(9, 11, sequence),
        check_next_to(9, 12, sequence),
        check_next_to(9, 14, sequence),
        check_next_to(9, 15, sequence),
        check_next_to(9, 16, sequence),
        check_next_to(10, 12, sequence),
        check_next_to(10, 13, sequence),
        check_next_to(10, 15, sequence),
        check_next_to(10, 16, sequence),
        check_next_to(11, 13, sequence),
        check_next_to(11, 14, sequence),
        check_next_to(11, 16, sequence),
        check_next_to(12, 13, sequence),
        check_next_to(12, 14, sequence),
        check_next_to(12, 15, sequence),
        check_next_to(13, 15, sequence),
        check_next_to(13, 16, sequence),
        check_next_to(14, 16, sequence)
    ] 
    
    if True in checks:
        return False

    return True

### Main

First let's verify the 2x2 case.

In [9]:
total_4 = 0

for k in range(2,5):
    for perm in itertools.permutations([1,2,3,4], k):
        if rule_checker_4(perm):
                total_4 +=1

print(f'Total possible sequences in a 2x2 grid: {total_4}')

Total possible sequences in a 2x2 grid: 24

Now let's test for the 3x3 case and note down the valid sequences to check later.

In [10]:
total_9 = 0
valid_sequences = []
Nk_values = []

for k in range(2,10):
    N_k = 0
    for perm in itertools.permutations([i for i in range(1, 10)], k):
        if rule_checker_9(perm):
            valid_sequences.append(perm)
            N_k +=1
    total_9 += N_k        
    Nk_values.append(N_k)   
    
df = pd.DataFrame({
    'k': [k for k in range(2,10)],
    'N_k': Nk_values
})

print(f'Total possible sequences in a 3x3 grid: {total_9}')
display(df)

Total possible sequences in a 3x3 grid: 644

   k  N_k
0  2   24
1  3   44
2  4   80
3  5  104
4  6  128
5  7  112
6  8  112
7  9   40

Now let's check some random sequences from the viable list.

In [11]:
indices_to_check = [random.randint(0, total_9) for _ in range(5)]
for index in indices_to_check:
    print(valid_sequences[index])

(4, 1, 2, 3, 6, 5, 8, 7)
(2, 3, 6, 5, 8, 7, 4, 1)
(2, 1, 4, 7, 8, 9, 6)
(5, 2, 1, 4, 7, 8, 9, 6, 3)
(9, 8, 5, 2, 3, 6)

### Extension

Attempting to run the 4x4 case...

total_16 = 0
valid_sequences_16 = []

for k in tqdm(range(2,17)):
    for perm in itertools.permutations(range(1, 17), k):
        if rule_checker_16(perm):
            valid_sequences_16.append(perm)
            total_16 +=1

print(f'Total possible sequences in a 4x4 grid: {total_16}')

...kills the kernel :/

Let's consider the case where diagonals are allowed.

In [12]:
total_diag = 0
diag_sequences = []
Nk_values_diag = []

for k in range(2,10):
    N_k = 0
    for perm in itertools.permutations([i for i in range(1, 10)], k):
        if rule_checker_9_diag(perm):
            diag_sequences.append(perm)
            N_k +=1
    total_diag += N_k        
    Nk_values_diag.append(N_k)   
    
df_diag = pd.DataFrame({
    'k': [k for k in range(2,10)],
    'N_k': Nk_values_diag
})

print(f'Total possible sequences in a 3x3 grid with diagonal movements allowed: {total_diag}')
display(df_diag)

Total possible sequences in a 3x3 grid with diagonal movements allowed: 10296

   k   N_k
0  2    40
1  3   160
2  4   496
3  5  1208
4  6  2240
5  7  2984
6  8  2384
7  9   784

For the case we can 'leap' i.e. move 2 steps horizontally or vertically too:

In [13]:
total_leap = 0
leap_sequences = []
Nk_values_leap = []

for k in range(2,10):
    N_k = 0
    for perm in itertools.permutations([i for i in range(1, 10)], k):
        if rule_checker_9_leap(perm):
            leap_sequences.append(perm)
            N_k +=1
    total_leap += N_k        
    Nk_values_leap.append(N_k)   
    
df_leap = pd.DataFrame({
    'k': [k for k in range(2,10)],
    'N_k': Nk_values_leap
})

print(f'Total possible sequences in a 3x3 grid with leaping movements allowed: {total_leap}')
display(df_leap)

Total possible sequences in a 3x3 grid with leaping movements allowed: 9072

   k   N_k
0  2    36
1  3   108
2  4   288
3  5   720
4  6  1440
5  7  2304
6  8  2664
7  9  1512

And for the case 'knight' moves (from chess) are allowed e.g. $a_{11}$ to $a_{23}$:

In [14]:
total_knight = 0
knight_sequences = []
Nk_values_knight = []

for k in range(2,10):
    N_k = 0
    for perm in itertools.permutations([i for i in range(1, 10)], k):
        if rule_checker_9_knight(perm):
            knight_sequences.append(perm)
            N_k +=1
    total_knight += N_k        
    Nk_values_knight.append(N_k)   
    
df_knight = pd.DataFrame({
    'k': [k for k in range(2,10)],
    'N_k': Nk_values_knight
})

print(f'Total possible sequences in a 3x3 grid with knight movements allowed: {total_knight}')
display(df_knight)

Total possible sequences in a 3x3 grid with knight movements allowed: 17700

   k   N_k
0  2    40
1  3   140
2  4   480
3  5  1200
4  6  2880
5  7  4320
6  8  5760
7  9  2880

Compare this to the actual total if any movement is allowed:

In [15]:
total = 0
seq = []

for k in range(2,10):
    for perm in itertools.permutations(range(1, 10), k):
        total += 1
        seq.append(perm)
        
print(total)

986400

Let's display these in a DataFrame.

In [16]:
df_variants = pd.DataFrame({
    'Extra movement': ['None', 'Diagonals', 'Leaps', 'Knight', 'Anything'],
    'Total patterns': [total_9, total_diag, total_leap, total_knight, total]
})

display(df_variants)

  Extra movement  Total patterns
0           None             644
1      Diagonals           10296
2          Leaps            9072
3         Knight           17700
4       Anything          986400